/*navbar css*/
.navbar {
  background-color: #fff !important;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  min-height: 55px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.navbar .navbar-brand img {
  max-height: 30px;
  width: auto;
}
