html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      background: #f9fafb;
      color: #333;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      }

    * {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    main {
      flex: 1;
    }

    /*letra css*/
    h2 {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
    }

    .method-badge {
      display: inline-block;
      background-color: #eaf5ff;
      color: #0366d6;
      padding: 2px 6px;
      border-radius: 4px;
      font-family: monospace;
      font-weight: bold;
    }