html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      background: #f0f0f0;
      color: #333;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      }

 :root {
      --primary: #3b82f6;
      --primary-light: #e8f1ff;
      --success: #16a34a;
      --danger: #dc2626;
      --bg: #f4f7fb;
      --card: #ffffff;
      --border: #e5e7eb;
      --text: #1f2937;
      --muted: #6b7280;
      --radius: 14px;
    }

    * {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    main {
      flex: 1;
    }

    /*letra css*/
    h2 {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
    }

    .method-badge {
      display: inline-block;
      background-color: #eaf5ff;
      color: #0366d6;
      padding: 2px 6px;
      border-radius: 4px;
      font-family: monospace;
      font-weight: bold;
    }


    /* ---------- LAYOUT ---------- */
    .page {
      max-width: 1300px;
      margin: 30px auto;
      padding: 0 20px;
    }

    .card {
      background: var(--card);
      border-radius: var(--radius);
      box-shadow: 0 10px 30px rgba(0,0,0,.08);
      padding: 24px;
      margin-bottom: 24px;
    }

    .card-title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 16px;
      color: var(--primary);
    }

    /* ---------- FORM ---------- */
    .row {
      display: flex;
      gap: 24px;
      flex-wrap: wrap;
    }

    .col {
      flex: 1;
      min-width: 300px;
    }

    label {
      font-size: 14px;
      font-weight: 500;
    }

    textarea, input[type="text"] {
      width: 100%;
      border-radius: 10px;
      border: 1px solid var(--border);
      padding: 12px 14px;
      font-family: monospace;
      font-size: 14px;
      margin-top: 6px;
      background: #fafafa;
    }

    textarea { min-height: 360px; resize: vertical; }

    /* ---------- CHECKBOX ---------- */
    .options {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      font-size: 14px;
    }

    .options input { margin-right: 6px; }

    .hidden { display: none; }

    

    /* ---------- TABLE ---------- */
    table {
      width: 100%;
      border-collapse: collapse;
      font-size: 14px;
    }

    th, td {
      padding: 10px 12px;
      border-bottom: 1px solid var(--border);
      vertical-align: top;
    }

    th {
      text-align: left;
      font-size: 13px;
      text-transform: uppercase;
      color: var(--muted);
    }

    .ok { color: var(--success); font-weight: 600; }
    .erro { color: var(--danger); font-weight: 600; }
    
.page-title-badge {
  display: inline-block;
  background: linear-gradient(135deg, #cae3ff, #b6d6ff);
  color: #2b2b2b;
  padding: 10px 22px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}
