html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      background: #f9fafb;
      color: #333;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      }

    * {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    main {
      flex: 1;
    }

    /*letra css*/
    h2 {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
    }

    .method-badge {
      display: inline-block;
      background-color: #eaf5ff;
      color: #0366d6;
      padding: 2px 6px;
      border-radius: 4px;
      font-family: monospace;
      font-weight: bold;
    }


      .card-template {
      background: #ffffff;
      border-radius: 15px;
      box-shadow: 0 8px 20px rgba(0,0,0,0.1);
      padding: 30px;
      transition: transform 0.3s;
    }
    .card-template:hover {
      transform: translateY(-5px);
    }
    #downloadTemplateBtn {
      font-size: 1rem;
      padding: 10px 20px;
    }
    .table th, .table td {
      vertical-align: middle;
      text-align: center;
    }
    .table thead {
      background-color: #343a40;
      color: #fff;
    }
 